In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# importing the dataset

In [6]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.shape

(768, 9)

In [8]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [21]:
df.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

## Spliting the data

In [22]:
X=df.drop(columns="Outcome",axis=1)
y=df["Outcome"]

## Standardization

In [16]:
scaler=StandardScaler()

In [17]:
new_df= scaler.fit_transform(X)

In [18]:
X=new_df

In [20]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

## Building the model

In [24]:
clasifier = svm.SVC(kernel="linear")

In [25]:
#training the scm
clasifier.fit(X_train,y_train)

SVC(kernel='linear')

## Evaluation

In [29]:
# accuracy score on the training data
X_train_prediction = clasifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [30]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

In [31]:
X_test_pred=clasifier.predict(X_test)
test_accuracy_score=accuracy_score(X_test_pred,y_test)

In [32]:
print('Accuracy score of the test data : ',test_accuracy_score)

Accuracy score of the test data :  0.7727272727272727

## Making a Predictive System

In [43]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# changing the input_data to numpy array
#output:[  5.    166.     72.     19.    175.     25.8     0.587  51.   ]
input_data_as_numpy_array=np.asarray(input_data)

# reshape the array as we are predicting for one instance
#to not confuse the model that is used to inputs with many raws so we set it as instence to pretell the modell that it will have one row only
#output: [[  5.    166.     72.     19.    175.     25.8     0.587  51.   ]]
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data (because we trained the model with standerdized data)
#scaler is variable we created before
#we just transform it because we have fitted the x data into the scaler before "scaler.fit(X)"
std_data=scaler.transform(input_data_reshaped)

#prediction
std_data_predict=clasifier.predict(std_data)
print(std_data_predict)

if (std_data_predict[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[1]
The person is diabetic